<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("headsection.ejs") %>
    <style>
      .error {
        box-shadow: 0 0 3pt 2pt red;
      }
    </style>
  </head>
  <body>
    <%- include("header.ejs") %>
    <section class="fs_inner">
      <div class="pc">
        <div
          style="
            width: 100%;
            height: 100%;
            background: url(/assets/contact.jpg) no-repeat center center;
            background-size: cover;
          "
        ></div>
      </div>
    </section>
    <section class="innercont pg_contact">
      <div class="ct">
        <div
          style="
            margin-top: 30px;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 30px;
          "
        >
          Call us on: <span style="color: #428bca;">+91-9708258076</span>
        </div>
        <div class="ttl_cap">Contact Us</div>
        <div class="div-form">
          <form
            action="#"
            method="post"
            accept-charset="utf-8"
            id="message_form"
            enctype="application/x-www-form-urlencoded"
            onsubmit="return false"
          >
            <h1>What can we help you with?</h1>
            <select class="form-control" name="issue" id="issue">
              <option value="Buying a Property">Buying a Property</option>
              <option value="Land Proposal">Land Proposal</option>
              <option value="Media Enquiries">Media Enquiries</option>
              <option value="Investor Enquiries">Investor Enquiries</option>
              <option value="Registering for Email Alerts"
                >Registering for Email Alerts</option
              >
              <option value="Other" selected>Other</option>
            </select>
            <br />
            <input
              type="text"
              name="firstName"
              id="firstName"
              class="form-control"
              placeholder="Name"
            />
            <input
              type="text"
              name="email"
              id="email"
              class="form-control"
              placeholder="Email"
            />
            <%- include("countryCode.ejs") %>
            <br />
            <input
              type="text"
              name="phoneNumber"
              placeholder="Phone"
              id="phoneNumber"
              class="form-control"
            />
            <br />
            <textarea
              class="form-control"
              rows="5"
              id="message"
              name="message"
              placeholder="Message..."
            ></textarea>
          </form>
          <button type="button" id="submitBtn" class="btn btn-default">
            Submit
          </button>
        </div>
      </div>
      <div class="address-div">
        <div class="ct">
          <div class="add-box">
            <div class="ttl_cap text-left">SURYA Offices</div>
          </div>
          <div id="surya_offices_1" style="display: none;" class="offi">
            <div class="address-box">
              <div class="address-box">
                <h4>Head Offices</h4>
                <ul>
                  <li>
                    <p>
                      <span>Patna</span><br />
                      <b>SURYA</b><br />
                      Surya Signature Building<br />
                      Beside Hira Sweet Lane,<br />
                      West Boring Canal Road,<br />
                      Patna, Bihar, India.<br />
                      <span>Tel</span>: +91-612-2557912, +91-612-2557913<br />
                      <span>E-mail</span>: suryanestbuild@gmail.com<br />
                      <span>Website</span>:
                      <a href="/index">www.suryanestbuildltd.com</a><br />
                    </p>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div id="surya_offices_2" style="display: block;" class="offi">
            <div class="address-box">
              <h4>SURYA Offices</h4>
              <ul>
                <li>
                  <p>
                    <span>Head Office</span><br />
                    <b>SURYA</b><br />
                    Surya Signature Building<br />
                    Beside Hira Sweet Lane,<br />
                    West Boring Canal Road,<br />
                    Patna, Bihar, India.<br />
                    <span>Tel</span>: +91-612-2557912, +91-612-2557913<br />
                    <span>E-mail</span>: suryanestbuild@gmail.com<br />
                    <span>Website</span>:
                    <a href="/index">www.suryanestbuildltd.com</a><br />
                  </p>
                </li>

                <li>
                  <p>
                    <span>NCR Office</span><br />
                    Aastha Infracity Limited<br />
                    Surya Kanishk Tower Plot no. -26,<br />
                    Sector-4, Vaishali,<br />
                    Ghaziabad, India - 201010<br />
                    <span>Tel</span>: +91-120-4299870<br />
                    <span>Phone</span>: +91-8527261347, +91-8373913232 <br />
                    <span>E-mail</span>: info1@suryanestbuildltd.com<br />
                  </p>
                </li>
                <li>
                  <p>
                    <span>Registered Office</span><br />
                    Unit No. 1, D-74<br />
                    Regal Building<br />
                    Connaught Place,<br />
                    New Delhi - 1 <br />
                    <span>Tel</span>: +91-120-4299870<br />
                    <span>Email</span>: suryanestbuild@gmail.com<br />
                  </p>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="surya_offices_3" style="display: none;" class="offi">
            <div class="address-box">
              <h4>NCR Office</h4>
              <ul>
                <li>
                  <p>
                    <span>NCR Office</span><br />
                    Aastha Infracity Limited<br />
                    Surya Kanishk Tower Plot no. -26,<br />
                    Sector-4, Vaishali,<br />
                    Ghaziabad, India - 201010<br />
                    <span>Tel</span>: +91-120-4299870<br />
                    <span>Phone</span>: +91-8527261347, +91-8373913232 <br />
                    <span>E-mail</span>: info1@suryanestbuildltd.com<br />
                  </p>
                </li>
              </ul>

              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="surya_offices_4" style="display: none;" class="offi">
            <div class="address-box">
              <h4>Registered Office</h4>
              <ul>
                <li>
                  <p>
                    <span>Registered Office</span><br />
                    Unit No. 1, D-74<br />
                    Regal Building<br />
                    Connaught Place,<br />
                    New Delhi - 1 <br />
                    <span>Tel</span>: +91-120-4299870<br />
                    <span>Email</span>: suryanestbuild@gmail.com<br />
                  </p>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>
    <%- include("footer.ejs") %>
    <script type="text/javascript">
      let formx = document.getElementById("message_form");
      let submitBtn = document.getElementById("submitBtn");
      submitBtn.onclick = formValidate;
      formx.email.addEventListener("focus", function () {
        if (this.classList.contains("error")) {
          this.classList.remove("error");
        }
      });
      formx.phoneNumber.addEventListener("focus", function () {
        if (this.classList.contains("error")) {
          this.classList.remove("error");
        }
      });
      formx.message.addEventListener("focus", function () {
        if (this.classList.contains("error")) {
          this.classList.remove("error");
        }
      });
      formx.firstName.addEventListener("focus", function () {
        if (this.classList.contains("error")) {
          this.classList.remove("error");
        }
      });
      function formValidate(event) {
        let form = document.getElementById("message_form");
        let emailRegex = new RegExp(
          /^([a-zA-Z0-9_.-]+)@([a-zA-Z0-9_.-]+).([a-zA-Z]{2,5})$/
        );
        let phoneRegex = new RegExp(/^[0-9]{10}$/);
        if (form.firstName.value.length == 0) {
          form.firstName.classList.add("error");
          console.log("Name");
        } else if (
          form.email.value.length == 0 ||
          emailRegex.test(form.email.value) == false
        ) {
          email.classList.add("error");
          console.log("Email");
        } else if (
          form.phoneNumber.value.length == 0 ||
          phoneRegex.test(form.phoneNumber.value) == false
        ) {
          form.phoneNumber.classList.add("error");
          console.log("phone");
        } else if (form.message.value.length == 0) {
          form.message.placeholder = "Write Something....";
          console.log("message");
        } else {
          let data = {
            phoneNumber: form.phoneNumber.value,
            firstName: form.firstName.value,
            email: form.email.value,
            message: form.message.value,
            issue: form.issue.value,
            countryCode: form.countryCode.value,
          };
          selfPost(data, window.location.origin + "/contact");
        }
      }
      function selfPost(data, path) {
        let form = document.createElement("form");
        form.method = "post";
        form.action = path;

        for (x in data) {
          let hiddenField = document.createElement("input");
          hiddenField.type = "hidden";
          hiddenField.name = x;
          hiddenField.value = data[x];

          form.appendChild(hiddenField);
        }
        document.body.appendChild(form);
        form.submit();
      }
    </script>
  </body>
</html>
